body {
    background-color: var(--background-white);
    font-family: 'EB Garamond', Garamond;
    font-weight: 500;
    padding: 0;
    margin: 20px;
    text-align: center;
    color: var(--text-color);
    user-select: none;
    overflow-x: hidden;
}
:root{
    --background-white: rgb(250,249,248);
    --text-color: rgb(55, 55, 55);
    --border-black: rgba(55, 55, 55, 0.5);
    --white-hover: rgb(238, 238, 238);
    --btn-hover: rgba(55, 55, 55, 2.5%);
    --btn-color: rgb(0, 47, 77);
}
pre{
    font-family: 'EB Garamond', Garamond;
    white-space: pre;
}
input{
    color: rgb(80, 80, 80);
}
button{
    color: var(--text-color);
}
.btn{
    border-radius: 25px;
    border: none;
    font-size: 85%;
    background: var(--btn-color);
    padding-inline: 0;
    padding-block: 4px;
    min-width: 8em;
    width: calc(5% + 4em);
    color: var(--background-white);
    margin-inline: 0;
    text-align: center;
    cursor: pointer;
    left: calc(47.5% - 4em);
}
.inp, option{
    background-color: var(--background-white);
    border: 1px solid var(--border-black);
    border-radius: 5px;
    padding-block: 4px;
    padding-inline: 10px;
    margin-bottom: 20px;
}
select{
    width: 11.4rem;
}
.main-div{
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
.sub-div{
    display: flex;
    align-items: center;
    width: fit-content;
}
.sub-div .inp{
    position: relative;
    top: 0.75rem;
}
/* #model-inp{
    width: 14rem;
} */
.sqaure-btn{
    background: none;
    border: 1.5px solid #949494;
    color: var(--text-color);
    border-radius: 4px;
    cursor: pointer;
    padding-inline: 0.5rem;
    padding-top: 0.30rem;
    padding-bottom: 0.20rem;
    position: relative;
    top: 2px;
    margin-left: 0.75rem;
}
.sqaure-btn:hover{
    background-color: rgba(34, 34, 34, 0.05);
}
#model-L.other{ padding-right: 3.75rem; }
#model-L.default{ padding-right: 16.25rem; }
#aircrafts-dropdown { margin-right: 1rem;}
#std-length-L{ padding-right: 6.75rem; }
#country-L{ padding-right: 15rem; }
#city-L { padding-right: 17.5rem; }
#lat-L, #lon-L { padding-right: 0.75rem;}
#lat {margin-right: 1.25rem; }
#avg-L{ padding-right: 1.75rem; }
#max-L{ padding-right: 1rem; }
#ART-L { padding-right: 6.9rem; }
#elevation-L { padding-right: 9.75rem; }
#eff-grad-L { padding-right: 12.125rem; }
#map-L{
    position: relative;
    top: 1.25rem;
}
.weather-info-span P{
    margin: 2px;
}
.weather-info-span{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* text-align: left; */
    gap: 5vw;
}

#map {
    height: 350px;
    width: 100%;
    margin-block: 30px;
    margin-inline: 0;
    border: 2px solid var(--text-color);
    border-radius: 5px;
}
.hide{
    display: none !important;
}
.alert{
    color: red;
}